<button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#AddModal">
    Добавить
</button>

<form method="post" id="RemoveForm" asp-page-handler="Remove">
    <button class="btn btn-danger w-100" type="submit">
        <i class="bi bi-trash"></i>
        Удалить
    </button>
</form>